---
import EditorLayout from "../../layouts/EditorLayout.astro"
import EditorNavbar from "../../components/tsx/EditorNavbar"
import LogoutButton from "../../components/tsx/LogoutButton"
import AddButton from "../../components/tsx/AddButton"
import EditorHome from "../../components/tsx/EditorHome"
---

<EditorLayout>
    <EditorNavbar client:load fixed/>
    <div class="fixed bottom-2 left-2 z-50">
        <LogoutButton client:load/>
    </div>
    <div class="fixed bottom-2 right-2 z-50">
        <AddButton client:load/>
    </div>
    <div class="flex w-full h-[75vh] justify-center items-center">
        <EditorHome client:load/>
    </div>
</EditorLayout>