---

---
<nav class="flex justify-between flex-row h-16 items-center px-4 sm:px-8 bg-white z-50">
    <a href="/">
        <h1 class="text-2xl font-semibold">rayy<span class="text-violet-600">.dev</span><span class="text-sm text-gray-400">/blogs</span></h1>
    </a>
    <div class="flex gap-6 items-center">
        <a href="https://rayy.dev" class="text-lg hover:underline hidden sm:block">
            Portfolio
        </a>
        <a href="/" class="text-lg hover:underline hidden sm:block">
            Blogs
        </a>
        <a 
            href="/editor" 
            class="text-base py-2 px-4 bg-violet-600 hover:bg-violet-500 rounded-md text-white"
            style={{
                transition: "background-color 100ms cubic-bezier(0.37, 0, 0.63, 1)"
            }}
        >
            Editor
        </a>
    </div>
</nav>